# vim: ft=systemd
[Unit]
Description=Buckle is an agent to control individual systems for Trunk
DefaultDependencies=yes
After=zfs-import.target
After=local-fs.target
After=make-zfs.service
After=network-online.target
ConditionPathIsDirectory=/sys/module/zfs

Conflicts=umount.target
Before=umount.target

[Service]
Type=exec
ExecStartPre=-mkdir -p /trunk/socket
ExecStartPre=-/usr/bin/podman rm -f buckle
ExecStart=/usr/bin/podman run --pull=always -it --privileged --name buckle --security-opt label=disable --net host --device /dev/zfs --pid host -v /etc/systemd:/etc/systemd -v /trunk:/trunk:shared -v /var/run/dbus:/var/run/dbus -v /var/log/journal:/var/log/journal:ro -v /var/log:/var/log:ro -v /run/log:/run/log:ro -v /run/systemd:/run/systemd:ro quay.io/trunk-os/buckle:latest
Restart=always

[Install]
WantedBy=default.target
